In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot #Plot Graphs
import seaborn as sns

readfile = pd.read_excel("Used Cars Updated.xlsx")# Reading my dataset from Excel file

print(" Displaying a Few Rows : ")
display(readfile.head())

print(" Statistics : ")
display(readfile.describe())

#print(" Data information : ")
#display(readfile.info())

numerical_features = ["Year", "Price"]
print("Summary of Numerical Features:")
for feature2 in numerical_features:
  print(f"\tFeature: {feature2}")
  print(f"\t\tMean: {readfile[feature2].mean()}")
  print(f"\t\tMedian: {readfile[feature2].median()}")
  print(f"\t\tMode: {readfile[feature2].mode().iloc[0]}")

categorical_features = [col for col in readfile.columns if readfile[col].dtype == object]
if categorical_features:
  print("\nSummary of Categorical Features:")
  for col in categorical_features:
    print(f"\tFeature: {col}")
    print(f"\t\tMode: {readfile[col].mode().iloc[0]}")


num_features = ["Year","Seats"]
for feature in num_features:
  plot.hist(readfile[feature])
  plot.xlabel(feature)
  plot.ylabel("Number of Vehicles")
  plot.title(f"Distribution of {feature}")
  plot.show()

plot.boxplot(readfile[num_features])
plot.xlabel("Seats")
plot.ylabel("Year Models")
plot.title("Boxplots of Year Model & Number of Seats")
plot.show()



if len(num_features) > 1:
  for i in range(len(num_features)):
    for j in range(i + 1, len(num_features)):
      sns.scatterplot(x=readfile[num_features[i]], y=readfile[num_features[j]])
      plot.xlabel(numerical_features[i])
      plot.ylabel(numerical_features[j])
      plot.title(f"Scatter Plot : {num_features[i]} vs. {num_features[j]}")
      plot.show()

category_features = [col for col in readfile.columns if readfile[col].dtype == object]
for col in category_features:
  print ("  ")
  print(f"{col} Data")
  print ("  ")
  print(readfile[col].value_counts())
  print ("  ")

category_features = [col for col in readfile.columns if readfile[col].dtype == object]
for col in category_features:
  print(" ")
  print(f"{col} Data")
  print(" ")
  print(readfile[col].value_counts())
  print(" ")

  plot.pie(readfile[col].value_counts(), labels=readfile[col].value_counts().index, autopct="%1.1f%%")
  plot.title(f"Pie Chart Distribution of {col}")
  plot.show()

print(" ")

print ("  ")
print ("Github Link Below : ")
print ("https://github.com/Marc-Nkosi/Learning-From-Data-Assignment-2")
print ("  ")

print ("Reflections : ")
print ("  ")
print ("What I’ve learned in this assignment was that there are many ways to kill a cat, me saying this because it’s actually the same exercise but we are now doing it on a different platform, So now there’s an understanding of what is really required from us unlike the previous assessment where we were not sure whether we were even doing the correct thing.")
print ("  ")
print ("Also what I’ve learned is that Excel is flexible, and it is best used for small amounts of data and its much easier to actually sort data that is a fair amount, compared to large amounts of data. ")
print ("  ")
print ("And python is very flexible and can sort out your data pretty quick, when you know what to do & when to do it. But in terms of complexity python is complex because it requires you to know the language, compared to Excel which is user friendly, and you know what you are doing & how to do it. Or we can just say python requires a lot of teaching compared to the basics of excel. ")
print ("  ")
print ("If I were to do this assignment over again, I feel like I would actually try to learn a lot of techniques & tactics on how I can separate and distribute my information and learn other types of descriptive statistics, I find it fun & difficult at the same time, as we know that in order to know something you have to learn so I’m using this opportunity to learn about the different types of data, how it is distributed, how it is converted into proper statistics that are used by big enterprises and organizations.")
print ("  ")
print ("My programming gap, I would say I can code but I do need assistance here & there so in this exercise I found myself going back to my old python undergrad stuff.  And when it comes to stats I don’t have much knowledge but the past few weeks I’ve learnt a lot on how data is transformed to produce something valuable and something that can be used in a broad environment basically getting statistics from that information/data.")
print ("  ")

 Displaying a Few Rows :

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1221,Ambassador Classic Nova Diesel,Chennai,2003,80000,Diesel,Manual,Third,12.8 kmpl,1489 CC,35.5 bhp,5.0,NaN,1.35
1,398,Audi A3 35 TDI Attraction,Chennai,2014,79271,Diesel,Automatic,First,20.38 kmpl,1968 CC,143 bhp,5.0,NaN,16.50
2,6663,Audi A3 35 TDI Attraction,Ahmedabad,2014,84004,Diesel,Automatic,First,20.38 kmpl,1968 CC,143 bhp,5.0,NaN,NaN
3,4782,Audi A3 35 TDI Premium,Mumbai,2016,20003,Diesel,Automatic,First,20.38 kmpl,1968 CC,143 bhp,5.0,NaN,19.25
4,6742,Audi A3 35 TDI Premium Plus,Hyderabad,2015,52300,Diesel,Automatic,First,20.38 kmpl,1968 CC,143 bhp,5.0,NaN,NaN

 Statistics :

             S.No.         Year  Kilometers_Driven        Seats        Price
count  7253.000000  7253.000000       7.253000e+03  7200.000000  6019.000000
mean   3626.000000  2013.365366       5.869906e+04     5.279722     9.479468
std    2093.905084     3.254421       8.442772e+04     0.811660    11.187917
min       0.000000  1996.000000       1.710000e+02     0.000000     0.440000
25%    1813.000000  2011.000000       3.400000e+04     5.000000     3.500000
50%    3626.000000  2014.000000       5.341600e+04     5.000000     5.640000
75%    5439.000000  2016.000000       7.300000e+04     5.000000     9.950000
max    7252.000000  2019.000000       6.500000e+06    10.000000   160.000000

Summary of Numerical Features:
	Feature: Year
		Mean: 2013.3653660554253
		Median: 2014.0
		Mode: 2015
	Feature: Price
		Mean: 9.47946835022429
		Median: 5.64
		Mode: 4.5
	Feature: S.No

KeyError: 'S.No'